@import 'src/app/styles/theme.scss';

html {
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  &__text {
    font-size: 6rem;
    margin: 4rem;
  }
}

.subtitle {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  &__text {
    font-size: 4rem;
    margin: 2rem 0;
    color: $main-text;
  }
}

.text {
  font-size: 1.5rem;
  color: $secondary-text;
  line-height: 2rem;
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}
