.title {
  display: flex;
  align-items: center;
  justify-content: center;
  &__text {
    font-size: 7rem;
    margin-top: 6rem;
  }
}

.summary {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 10rem 0;

  &__pic {
    width: 300px;
    margin-bottom: 2rem;
  }

  &__stats {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 0 3rem;
    width: 100%;
    max-width: 500px;
    min-width: 225px;
  }
}

.skill {
  display: flex;
  margin: 1rem 0;
  width: 100%;
}

.values {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  background-color: #cdea65;

  &__item {
    margin: 4rem 5rem;
    opacity: 0;

    &--loaded {
      opacity: 1;
    }
  }
}
