<div class="title">
  <h1 class="title__text">About</h1>
</div>
<div class="summary">
  <img class="summary__pic" src="/assets/img/portrait.png" alt="portrait" />
  <div class="summary__stats" (intersection)="loadStats = true">
    <app-skill-stat
      class="skill"
      *ngFor="let skill of skills; index as i"
      [item]="skill"
      [index]="i"
      [loadStats]="loadStats"
    ></app-skill-stat>
  </div>
</div>
<div class="values" (intersection)="loadValues = true">
  <app-value
    class="values__item"
    *ngFor="let value of values; index as i"
    [ngClass]="{ 'values__item--loaded': loadValues }"
    [ngStyle]="{ transition: 'all 0.5s ease ' + getDelay(i) + 's' }"
    [item]="value"
  ></app-value>
</div>
