@import 'src/app/styles/theme.scss';

.value {
  width: 150px;

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 150px;
    width: 150px;
    border-radius: 150px;
    background-color: white;

    > img {
      width: 120px;
      filter: invert(0.25);
    }
  }

  &__title {
    font-size: 2.5rem;
    text-align: center;
    margin: 1.5rem 0;
    color: $main-text;
  }

  &__descript {
    text-align: center;
  }
}
