<div class="navbar">
  <div class="links">
    <div class="links__item" (click)="scrollToElement('about')">About</div>
    <div class="links__item" (click)="scrollToElement('projects')">
      Proyectos
    </div>
  </div>
  <div class="responsive-menu">
    <img
      class="responsive-menu__btn"
      src="./assets/icons/menu.svg"
      alt="menu"
      *ngIf="showMenu === false"
      (click)="showMenu = true"
    />
    <img
      class="responsive-menu__btn responsive-menu__btn--close"
      src="./assets/icons/close.svg"
      alt="close"
      *ngIf="showMenu"
      (click)="showMenu = false"
    />
    <div class="responsive-menu__links" *ngIf="showMenu" [@appearMenu]>
      <div class="responsive-menu__links__item">
        <div (click)="scrollToElement('projects')">Proyectos</div>
      </div>
      <div class="responsive-menu__links__item">
        <div (click)="scrollToElement('about')">About</div>
      </div>
    </div>
  </div>
</div>
