<div class="navbar">
  <!-- <div class="logo">Logo</div> -->
  <div class="links">
    <a class="links__item" href="./#projects">Projects</a>
    <a class="links__item" href="./#about">About</a>
    <a class="links__item" href="./#contact">Contacto</a>
  </div>
  <div class="responsive-menu">
    <img
      class="responsive-menu__btn"
      src="./assets/icons/menu.svg"
      alt="menu"
      *ngIf="showMenu === false"
      (click)="showMenu = true"
    />
    <img
      class="responsive-menu__btn responsive-menu__btn--close"
      src="./assets/icons/close.svg"
      alt="close"
      *ngIf="showMenu"
      (click)="showMenu = false"
    />
    <div class="responsive-menu__links" *ngIf="showMenu" [@appearMenu]>
      <div class="responsive-menu__links__item">
        <a href="./#projects">Projects</a>
      </div>
      <div class="responsive-menu__links__item">
        <a href="./#about">About</a>
      </div>
      <div class="responsive-menu__links__item">
        <a href="./#contact">Contacto</a>
      </div>
    </div>
  </div>
</div>
